repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-ast
  - repo: https://github.com/pycqa/autoflake
    rev: v2.0.1
    hooks:
      - id: autoflake
        args:
          [
            --remove-all-unused-imports,
            --in-place,
            --ignore-init-module-imports,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args: [--line-length=120]
        language_version: python3.10
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - "flake8-pyproject"
