recursive-include odp_sdk *.py
recursive-include scripts *.py
recursive-include test *.py

recursive-include Examples *.ipynb

include setup.py
include requirements*.txt
include Examples/requirements*.txt
include Examples/README.md
include tox.ini
include README.md
include LICENSE
include MANIFEST.in
include *.md

prune docs
prune .tox
prune venv