/* Sidebar header (and topbar for mobile) */

.wy-side-nav-search, .wy-nav-top {
    background-color: #0A1530;
}
/* Sidebar */
.wy-nav-side {
    background-color: #0A1530;
    color: #FD5D16;
}

.wy-nav-content-wrap {
    background: #eff6fa;
}